<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/public/assets/css/style.css' type='text/css'>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/index.js"></script>

    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #2196f3;
        }

        .nav-wrapper {
            padding-left: 10px;
            height: 5%;
        }

        .left_panel,
        .right_panel {
            height: 70vh;
        }

        #mainDiv {
            height: 95%;
        }

        .footer{
            background-color: #2196f3;
            height: 3%;
            color: rgb(255, 255, 255);
        }

    </style>

    <title>CodeHunters</title>

</head>

<body>
    <!-- nav section -->
    <nav>
        <div class="nav-wrapper blue">
            <a href="" class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#">Home</a></li>
                <li><a href="#">Coders</a></li>
                <li><a href="#">Employers</a></li>
            </ul>
        </div>
    </nav>

    <!-- main content section -->
    <div id="mainDiv" class="section blue darken-1 no-pad-bot z-depth-1 start-splash-section">

        <div class="container start-splash-container">

            <!-- first row content -->
            <div class="row">

                <!-- left panel content -->
                <div class="blue darken-2 col s12 l6 left_panel">

                    <div class="white-text start-splash-header-content">
                        <h3 class="start-splash-header-text white-text">I am a Codder</h3>

                        <h5 class="white-text start-header-paragraph-text">
                            Hunting for employers...
                        </h5><br><br>

                        <div class="hunterPic">
                            <img src="/public/assets/imgs/white-and-gray-short-fur-cat-on-green-wooden-bench-3508173.jpg" alt="">
                        </div><br>
                        
                        <a class="white blue-text waves-effect waves-light btn">Search 4 Employers</a>
                        <a class="white blue-text waves-effect waves-light btn">Enter Skills</a>

                    </div>

                </div>

                <!-- right panel content -->
                <div class="blue darken-3 col s12 l6 right_panel">

                    <div class="white-text start-splash-header-content">
                        <h3 class="start-splash-header-text white-text">I am an Employer</h3>

                        <h5 class="white-text start-header-paragraph-text">
                            Hunting for the best codders in the game...
                        </h5><br><br>

                        <div class="hunterPic">
                            <img src="/public/assets/imgs/angry-animal-big-carnivore-302304.jpg" alt="">
                        </div><br>

                        <a class="white blue-text waves-effect waves-light btn">Search 4 Codders</a>
                        <a class="white blue-text waves-effect waves-light btn">Enter New Job</a>

                    </div>

                </div>

                <div class="col s12 l12"><br>

                    <div class="white-text start-splash-header-content">

                        <h5 class="white-text start-header-paragraph-text">
                            Hunt for the best codders in the game...
                        </h5><br><br>

                    </div>

                </div>


            </div>
        </div>

    </div>

    <div class="row footer">
        <div class="col s12">This div is 12-columns wide on all screen sizes</div>
    </div>


</body>

</html>