<nav>
    <div class="nav-wrapper blue">
        <a href="/" class="brand-logo" style="margin-left: 20;">Code Hunters</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/employees">Coders</a></li>
            <li><a href="/employers">Employers</a></li>
        </ul>
    </div>
</nav>


<div class="container">
    <h1>Employee Profile</h1>
    <hr />
    <div class="row">

        <form class="col s12" action="/employee/create" method="post">

            <div class="row">

                <div class="input-field col s6">
                    <input id="first_name" type="text" class="validate" name="first_name">
                    <label class="active" for="first_name">First Name</label>
                </div>

                <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate" name="last_name">
                    <label class="active" for="last_name">Last Name</label>
                </div>

                <div class="input-field col s6">
                    <textarea id="languages_known" class="materialize-textarea" name="languages_known"
                        data-length="500"></textarea>
                    <label class="active" for="languages_known">Coding Languages Known</label>
                </div>

                <div class="col s6">
                    <div class="input-field inline">
                        Only input numbers as integers:
                        <input id="years_experience" type="text" class="validate" name="years_experience">
                        <label class="active" for="years_experience">Years of Experience</label>
                    </div>
                </div>

                <div class="col s6">
                    <div class="input-field inline">
                        Only input numbers as integers:
                        <input id="salary_desired" type="text" class="validate" name="salary_desired">
                        <label class="active" for="salary_desired">Desired Salary</label>
                    </div>
                </div>

                <div class="input-field col s6">
                    <input id="employee_email" type="text" class="validate" name="employee_email">
                    <label class="active" for="employee_email">Email</label>
                </div>

                <div class="col s6">
                    <div class="input-field inline">
                        example 112-818-3903
                        <input id="employee_phone" type="tel" class="validate" name="employee_phone">
                        <label class="active" for="employee_phone">Phone Number</label>
                    </div>
                </div>

                <div class="input-field col s4">
                    <button class="btn btn-info">Hunt for Coders!</button>
                </div>

            </div>
        </form>

    </div>
</div>