    <nav>
        <div class="nav-wrapper blue">
            <a href="/" class="brand-logo" style ="margin-left: 20;">Code Hunters</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/employees">Coders</a></li>
                <li><a href="/employers">Employers</a></li>
            </ul>
        </div>
    </nav>


<div class="container">
        <h1>Employer Profile</h1>
        <hr />
        <div class="row">
    
            <form class="col s12" action="/employer/create" method="post">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="first_name" type="text" class="validate" name="first_name">
                        <label class="active" for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="last_name" type="text" class="validate" name="last_name">
                        <label class="active" for="last_name">Last Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="business_name" type="text" class="validate" name="business_name">
                        <label class="active" for="business_name">Business Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="languages" type="text" class="validate" name="languages">
                        <label class="active" for="languages">Coding Languages Desired</label>
                    </div>
                    <div class="input-field col s6">
                        <textarea id="project_details" class="materialize-textarea" name="project_details" data-length="500"></textarea>
                        <label class="active" for="project_details">Project Details</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="budget" type="text" class="validate" name="budget">
                        <label class="active" for="budget">Budget</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="employer_email" type="text" class="validate" name="employer_email">
                        <label class="active" for="employer_email">Email</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="employer_phone" type="text" class="validate" name="employer_phone">
                        <label class="active" for="employer_phone">Phone Number</label>
                    </div>
                    <div class="input-field col s4">
                        <button class="btn btn-info">Hunt for Coders!</button>
                    </div>
                </div>
            </form>
    
        </div>
    </div>